{% extends 'recog_app/base.html' %}

{% block content %}
<div class="bg-warning rounded">
  <h4>We are not completely sure...</h4>
  <p>Here are our best guesses</p>
</div>


{% for product, certainty in products %}
<div class="card my-2">
    <p class="card-header">{{ product.cat }}</p>
    <img src="{{ product.image_url }}" class="card-img-top" alt="image of a {{ product.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.name|upper }} ({% widthratio certainty 1 100 %}%)</h5>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-secondary">Cutting methods</li>
        {% for cm in product.cutting_methods %}
        <li class="list-group-item"><a href="{{ cm.url }}" target="_blank">{{ cm.name }}</a></li>
        {% endfor %}
      <li class="list-group-item list-group-item-secondary">Recipes</li>
        {% for rc in product.recipes %}
        <li class="list-group-item"><a href="{{ rc.url }}" target="_blank">{{ rc.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}
